# Ambientes Virtuais

.venv_gm/
venv/
env/
.env
bin/
lib/
share/
inspect_parquet.py
fix.parquet.py

# Python caches

pycache/
*.pyc
*.pyo
*.pyd

# Dados e Utilitários de Migração

data/MOCK_DATA.json

# Streamlit

.streamlit/

# Configurações de IDE

.vscode/

# Ficheiros de sistema

.DS_Store
Thumbs.db