# Core Data Processing & Performance
pyarrow
polars
pandas
numpy

# Machine Learning & Time Series Forecasting
scikit-learn
mlforecast
lightgbm

# Front-end & Data Visualization
streamlit
plotly

# Environment & Security
python-dotenv
